extends layout

block content
	h1= title

	p.h3
		a(href="http://2015.horeca-studio.ru/korabeinikof/002_GUI.html" target="_black") GUI
		!="\n"
		a(href="/components/") Components

	include modules/list-articles

	include modules/form-add-articles
