doctype html
html
	head
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		title= title
		|<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		|<script src="/javascripts/main.js"></script>
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		| <!--[if lt IE 9]><script src="./scripts/html5shiv.min.js"></script><![endif]-->
	body
		include include/header
		section
			div.container
				block content

		include include/footer
