doctype html
html
	head
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		title= title

		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-wysihtml5.css')
		| <!--[if lt IE 9]><script src="./scripts/html5shiv.min.js"></script><![endif]-->

		|<script src="https://code.jquery.com/jquery-1.7.2.js"></script>

		|<script src="/javascripts/wysihtml5-0.3.0.js"></script>
		|<script src="/javascripts/bootstrap.min.js"></script>
		|<script src="/javascripts/bootstrap-wysihtml5.js"></script>

		|<script src="/javascripts/main.js"></script>
	body
		include include/header
		section
			div.container
				block content

		include include/footer
