header.navbar.navbar-inverse.navbar-fixed-top.js-scroll-to(role='navigation')
	.container
		a.navbar-first(href='#') <b>GUI</b>
		a.navbar-brand(href='#fixed-grid') Фиксир. сетка
		a.navbar-brand(href='#ui') Ui/UX
		a.navbar-brand(href='#text') Текст
		a.navbar-brand(href='#forms') Формы
		a.navbar-brand(href='#psd') Требования к макетам
		a.navbar-brand(href='#adaptive') Адаптив
		a.navbar-brand(href='#check-list') Чеклист верстки
		a.navbar-brand(href='#vidgets') Виджеты
