header.navbar.navbar-inverse.navbar-fixed-top.js-scroll-to(role='navigation')
	.container.clearfix
		-if ( pathname == '/')
			span.navbar-brand
				img(src="/images/logo.png" alt="#{title}" title="#{title}")
		-else
			a(href="/").navbar-brand
				img(src="/images/logo.png" alt="#{title}" title="#{title}")
		-if ( pathname == '/')
			a(href="#add-articles").navbar-brand.right.js-scroll-to Добавить статью
		-else
			a(href="/").navbar-brand На главную


		-if (pathnameArticles == '/articles/')
			a(href="/articles/").navbar-brand.right Список статей
