

base-font()
	font-family: Arial, sans-serif;
	font-size 14px
	color #383435
content-center(w = 100%, h = w, important = false )
	important = (important == true ? !important : )
	position relative
	width w important
	height h important

	> *
		position absolute
		top 0 important
		bottom 0 important
		left 0 important
		right 0 important
		margin auto important
		max-height 100%
		max-width 100%
size(w, h = w)
	width w
	height h

border-box()
	box-sizing padding-box
	box-sizing border-box

background-clip()
	background-clip padding-box


// in css -> images("test.png")
images(file)
	url( $img_path + file )

trans()
	transition all 0.2s

trans-none()
	transition all 0s
clear()
	&:after
		content ''
		display table
		clear both

// in css -> columns(5)
columns(count)
	.column-{count}
		width floor( (95% / count), 1 )
		display inline-block
		vertical-align top

// in css -> width-perc(15)
width-perc(perc)
	.perc-{perc}
		width: (perc)%


// in css -> blur(20)
blur(px)
	filter unquote('progid:DXImageTransform.Microsoft.Blur(PixelRadius="' + px + '")')
	-webkit-filter unquote('blur(' + px + 'px)')
	-o-filter unquote('blur(' + px + 'px)')
	-ms-filter unquote('blur(' + px + 'px)')
	-moz-filter unquote('blur(' + px + 'px)')
	filter unquote('blur(' + px + 'px)')

// in css -> opacity(0.2) or  opacity(20)
opacity(val)
	if val > 1
		val = val/100
	opacity val
	zoom 1
	-ms-filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity="' + val*100 + '")')


// in css -> background-size(cover)
background-size(value)
	background-size value


// in css with inset -> box-shadow-inset(0, 0, 10px, rgba(0,0,0,0.5))
// in css  -> box-shadow(0, 0, 10px, rgba(0,0,0,0.5))
box-shadow-inset(x, y, r, color)
	box-shadow inset x y r color

box-shadow-outer( x, y, r, color)
	box-shadow x y r color


// in css with inset -> text-shadow(5px, 1px, 5px, #000)
text-shadow(x, y, r, color)
	text-shadow x y r color

// in css with inset -> gradient-linear(#000, #fff)
gradient-linear(top, bottom)
	background linear-gradient(top, bottom)

// in css -> text-ellipsis(100px) or text-ellipsis(80%)
_text-overflow(width_value = 'none')
	white-space nowrap
	text-overflow ellipsis
	line-height: normal;
	overflow hidden
	if width_value != 'none'
		width width_value



/* *************************************************************************************************************************** */
/* layout
========================================================================== */
body
	padding-top: 80px;
	position: relative
	min-height: 100%
	border-box()

html
	height: 100%

.starter-template
	padding: 40px 0
section
	padding-bottom 100px
.bs-docs-footer
	padding 10px 0
	position: absolute
	left 0
	bottom 0
	width 100%
	background #eee
	color: #767676;
	border-top: 1px solid #e5e5e5;
pre
	margin-bottom 50px


a
	text-decoration underline
	&:hover
		text-decoration none


.container
	width 1200px!important
	margin 0 auto

.col-lg-1, .col-md-1, .col-sm-1
	width: 8.33333333%!important;
	float left

.navbar-brand.__current
	color #fff!important
	text-decoration none!important

.navbar-first
	padding: 15px;
	font-size: 20px;
	line-height: 20px;
	height: 50px;
	float left
	color #fff

.navbar-inverse .navbar-brand:focus
	text-decoration underline
	color: rgb(157, 157, 157);


.navbar-brand
    img
	  max-height 100%
.right
	float right
.left
	float left
textarea.form-control
	height 235px

.navbar-brand.right
	float right
.btn
	text-decoration none
.form-add-article
	width 850px

.list-articles
	position relative
	overflow hidden
	margin 0 0 80px
	padding-top 40px
	&-ctn
		margin-right -40px
	&-item
		width: 362px;
		margin 0 40px 40px 0
		display inline-block
		vertical-align top
		padding 15px
		border-box()
	.btn
		margin-top 10px


.edit-control
	position relative
	padding 15px
	margin 55px 0 40px
	.btn
		margin-right 20px


[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("/images/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
}
.icon-list {
	background-position: -360px -48px;
}
.icon-th-list {
	background-position: -264px 0;
}
.icon-indent-right {
	background-position: -408px -48px;
}
.icon-indent-left {
	background-position: -384px -48px;
}
.icon-share {
	background-position: -120px -72px;
}
.icon-picture {
	background-position: -456px -48px;
}
.icon-pencil {
	background-position: 0 -72px;
}
.icon-font {
	background-position: -144px -48px;
}
.btn.wysihtml5-action-active {
	background-image: none;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	background-color: #E6E6E6;
	background-color: #D9D9D9;
	outline: 0;
}